/* ---- COLORS ---- */
$color-primary: #183753;
$color-secondary: #e6c707;
$color-background: #FEFCF0;
$color-light: #f6f4ea;


/* ---- FONTS ---- */
$font-titles: 'Catallina', sans-serif;
$font-texts: 'NotoSans', sans-serif;


/* ---- FONT SIZE ---- */
$text-heading-desktop-1: 50px;
$text-heading-desktop-2: 35px;
$text-heading-mobile-2: 30px;
$text-heading-desktop-3: 25px;
$text-heading-desktop-4: 20px;
$text-body-desktop: 16px;
$text-small-desktop: 14px;