@use "variables" as *;


.flex-center {
    display: flex;
    justify-content:center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.calendar-container {
    padding: 30px 0px;
    @extend .flex-column;
    gap: 30px;

    font-size: $text-body-desktop;

    
    h2 {
        color: $color-primary;
        font-family: $font-titles;
        font-size: $text-heading-desktop-3;
        border-left: 2px $color-primary solid;
        padding-left: 12px;

        span {
            font-size: $text-heading-desktop-4;
        }
    }

    section {
        @extend .flex-column;
        gap: 30px;
    }

}

.title-container {
    display: flex;
    align-items: center;
    gap: 10px;

    h1 {
        color: $color-primary;
        font-family: $font-titles;
        font-size: $text-heading-desktop-2;
    }

    .icon {
        color: $color-primary;
        width: 24px;
        height: 24px;
    }
}


.matches-container {
    display: grid;
    grid-template-columns: 1fr;

    
    gap: 12px;
    padding-left: 20px;

    article {
        display: flex;
        justify-content: space-between;
        gap: 32px;
        padding: 20px;
        background-color: $color-light;
        border-radius: 8px;


        .hora {
            font-size: $text-heading-desktop-2;
            font-family: 'Catallina';
            color: $color-primary;
        }

        .lliga {
            font-size: $text-small-desktop;
        }
        

        p {
            font-family: $font-titles;
        }

        img {
            width: 30px;
            height: 30px;
        }

        .team {
            @extend .flex-center;
            gap: 10px;

            .logo {
                width: 32px;
                height: 32px;
            }
        }
    }
}

.teams-container {
    @extend .flex-center;
    gap: 20px;


}