@use "variables" as *;

$tema-actual: 'light';

$colors: (
    'primari': $color-primary,
    'secundari': $color-secondary,
);

@each $nom, $valor in $colors {
    .btn-#{$nom} {
        background-color: $valor;
        width: fit-content;
        padding: 2px 15px;
        border-radius: 4px;
        transition: all ease-in-out 6s;
    }

    .btn-#{$nom}:hover {
        filter: brightness(90%);
        scale: 101%;
    }
}



@mixin flex-centre {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

body {
    @if $tema-actual =='dark' {
        color: white;
        background-color: $color-primary;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: white !important;
        }
    }

    @else {
        background-color: white;
    }
}


.calendar-container {
    @include flex-column;
    gap: 30px;

    font-size: $text-body-mobile;
    padding: 20px 20px;

    @media (min-width: 768px) {
        padding: 30px 20px;
    }

    @media (min-width:1024px) {
        padding: 30px 10px;
        font-size: $text-body-desktop;
    }

    .title-container {
        display: flex;
        align-items: center;
        gap: 10px;

        h1 {
            color: $color-primary;
            font-family: $font-titles;
            font-size: $text-heading-mobile-2;

            @media (min-width: 768px) {
                font-size: $text-heading-desktop-2;
            }
        }

        .icon {
            @if $tema-actual =='dark' {
                color: $color-background !important;
            }

            color: $color-primary;
            width: 24px;
            height: 24px;
        }
    }


    section {
        @include flex-column;
        gap: 20px;

        @media (min-width: 768px) {
            gap: 30px;
        }

        h2 {
            color: $color-primary;
            font-family: $font-titles;

            font-size: $text-heading-mobile-3;

            @media (min-width: 768px) {
                font-size: $text-heading-desktop-3;
            }

            border-left: 2px $color-primary solid;

            @if $tema-actual =='dark' {
                border-left: 2px $color-background solid;
            }

            padding-left: 12px;

            span {
                font-size: $text-heading-mobile-4;

                @media (min-width: 768px) {
                    font-size: $text-heading-desktop-4;
                }
            }
        }

        .matches-container {
            display: grid;
            align-items: stretch;
            grid-template-columns: 1fr;

            @media (min-width: 768px) {
                grid-template-columns: 1fr 1fr;
            }

            @media (min-width: 1024px) {
                grid-template-columns: 1fr 1fr 1fr;
            }


            gap: 12px;
            padding-left: 20px;

            .match {
                display: flex;
                flex-direction: column-reverse;
                justify-content: space-between;
                gap: 20px;
                padding: 20px;

                background-color: $color-light;
                color: $color-primary;
                border-radius: 8px;

                filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));


                @media (min-width: 768px) {
                    flex-direction: row;
                    font-size: $text-heading-desktop-2;
                    gap: 32px;
                }


                .teams-container {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 10px 20px;
                }

                .vs {
                    font-size: $text-body-mobile;

                    @media (min-width: 768px) {
                        font-size: $text-body-desktop;

                    }
                }

                .hora {
                    font-size: $text-heading-mobile-2;

                    @media (min-width: 768px) {
                        font-size: $text-heading-desktop-2;
                    }

                    font-family: 'Catallina';
                    color: $color-primary;
                }

                p {
                    font-family: $font-titles;
                }



                img {
                    width: 30px;
                    height: 30px;
                }

                .team {
                    @include flex-centre;
                    gap: 10px;

                    .logo {
                        width: 32px;
                        height: 32px;
                    }
                }
            }
        }

    }

}