#root {
  max-width: 100dvw;
  min-height: 100dvh;


  padding: 0;
  box-sizing: border-box;
}

.activePath2 {
  @apply border-b bg-slate-300/20 p-2 px-4 rounded-md;
}

.activePath {
  @apply text-secondary font-bold underline underline-offset-8;
}
