

@font-face {
  font-family: 'Catallina';
  src: url('./assets/fonts/Catallina.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url('./assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {  
  margin: 0;
  padding: 0;

  box-sizing: border-box;  
  border: 0;
  list-style: none;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  font-family: 'Catallina', 'NotoSans';
}

p, a{
  @apply font-notosans text-body-desktop;
}

.btn {
  @apply py-3 px-7 flex items-center justify-center rounded-md transition-transform;
}

.btn:hover {
  @apply scale-105;
}

.btn-primary {
  @apply bg-primary text-background;
}

.btn-secondary {
  @apply bg-secondary text-primary;
}

.container {
  max-width: 1170px;
  margin: auto auto;
}